*{
  margin:0;
  padding:0;
  font-family: monospace;
}

.banner{
  width:100%;
  height:100vh;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .75));
  background-size:cover;
  background-position: center;
  background-color: #007896;
}

.navbar{
  width: 100%;
  margin: auto;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .2);
}

.logo{
  width: 100px;
  margin: 0% 0 0 5%;
  cursor: pointer;
  padding: 0;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 150px 0 0;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
}

.navbar ul li::after{
  content:'';
  height: 6px;
  width: 0;
  border-radius: 10;
  background: #007896;
  position: absolute;
  left:0;
  bottom: -10px;;
  transition: 0.5s;
  
}

.navbar ul li:hover::after{
  width:100%;
}

.content{
  width:100%;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 80px;
  margin-top: 80px;
}

.content p{
  margin-top: 60px;
  font-weight: 100;
  line-height: 25px;
  font-size: 30px;
}

button{
  width:300px;
  padding: 20px 0;
  margin: 70px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid #007896;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position:relative;
  overflow:hidden;
}



button:hover span{
  width:100%;
}

button:hover{
  border:none;
}

.in1{
  top:20px;
}

.box{
  margin-top: 3%;
  width: 50%;
  height: 50vh;
  background-color: white ;
  transform: translateX(50%);
  border-radius: 50px;
}

.box h1{
  padding: 70px;
  font-size: 40px;
}

.box form input{
  width: 85%;
  height: 5%;
  left: 7.5%;
  display: flex;
  border: 2px solid #007896;
  border-radius: 20px;
  padding:5px 20px;
  position: absolute;
  font-size: 15px;
  margin: 5% 0;
  top: 50%;
}

.box button{
  padding: 10px;
  width: 200px;
  position: absolute;
  vertical-align: middle;
  right: 2.5%;
  top: 65%;
  font-size: 17.5px;
  font-style: normal;
  border-radius: 25px;
  color: black;
  margin: 0px 10px;
}

.box h2{
  margin: 10% 0% 0 5%;
  top: 65%;
  left: 10%;
  font-style: normal;
  font-weight: 100;
}

#one{
  top:17.5%;
}

#two{
  top:30%;
}

#b1{
  font-family: sans-serif;
  left:5%;
  top: 55%;
  padding: 10px;
  width: fit-content;
  font-weight: 100;
  position: absolute;
  vertical-align: middle;
  font-size: 17.5px;
  font-style: normal;
  border-radius: 10px;
  color: black;
  margin: 0px 10px;
  border-color: rgba(70, 70, 70, 1);
}
#backGROUND{
  background-image: linear-gradient(rgba(0, 20, 30, 0.6), rgba(0, 20, 30, 0.8)),
                  url("https://images.unsplash.com/photo-1532012197267-da84d127e765?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#scroll{
  height:auto;
}

#imgPost{
  text-align: center;
  width: 100%;
  height: 50vh;
  border-radius: 2rem;
  border-color: black;
  border: 5px solid black;
}
#photoPost{
  text-align: center;
}
#posts{
  height:max-content;
  font-weight:300;
  font-size:20px;
  list-style: none;
  padding: 3.4rem;
  padding-bottom: 1rem;
}
#postLogo{
  width:3rem;
  padding:0;
}
#postUser{
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  padding-top:0;
  padding-bottom:0rem;
}
#eventTitle{
  font-size: 5rem;
  text-decoration: none;
  color:#007896;
}
#eventDiv{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#descDiv{
  font-size: 2rem;
  padding-top: 2rem;
}
#postedBy{
  text-align: center;
  padding-top: 2rem;
}
#addOp{
  margin-left:65rem;
  font-size: 2.4rem;
  color:white;
}
