*{
  margin:0;
  padding:0;
  font-family: monospace;
}

.banner{
  width:100%;
  height:(100vh);
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .75));
  background-size:cover;
  background-position: center;
  background-color: #007896;
}

.navbar{
  width: 100%;
  margin: auto;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .2);
}

#n1{
  background-color: rgba(0, 0, 0, .3);
}
.logo{
  width: 100px;
  margin: 0% 0 0 5%;
  cursor: pointer;
  padding: 0;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 150px 0 0;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
}

.navbar ul li::after{
  content:'';
  height: 6px;
  width: 0;
  border-radius: 10;
  background: #007896;
  position: absolute;
  left:0;
  bottom: -10px;;
  transition: 0.5s;
  
}

.navbar ul li:hover::after{
  width:100%;
}

.content{
  width:100%;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 80px;
  margin-top: 80px;
}

.content p{
  margin-top: 60px;
  font-weight: 100;
  line-height: 25px;
  font-size: 30px;
}

button{
  width:300px;
  padding: 20px 0;
  margin: 70px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid #007896;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position:relative;
  overflow:hidden;
}

#shareButton:hover{
  color:white;
}

button:hover span{
  width:100%;
  
}

button:hover{
  border:none;
  color: #fff;
}

.in1{
  top:20px;
}

.box{
  margin-top: 3%;
  width: 50vw;
  height: 50vh;
  background-color: white ;
  transform: translateX(50%);
  border-radius: 50px;
}

.box h1{
  padding: 70px;
  font-size: 40px;
}



.box form input{
  width: 80%;
  height: 5%;
  left: 7.5%;
  display: flex;
  border: 2px solid #007896;
  border-radius: 20px;
  padding:5px 20px;
  position: absolute;
  font-size: 15px;
  margin: 5% 0;
  top: 50%;
}

.box button{
  padding: 10px;
  width: 200px;
  position: absolute;
  vertical-align: middle;
  right: 7.5%;
  top: 75%;
  font-size: 20px;
  font-style: normal;
  border-radius: 25px;
  color: black;
  margin: 0px 10px;
}

.box h2{
  margin: 10% 0% 0 5%;
  top: 65%;
  left: 10%;
  font-style: normal;
  font-weight: 100;
}

#one{
  top:17.5%;
}

#two{
  top:30%;
}

#b1{
  font-family: sans-serif;
  left:7%;
  top: 55%;
  padding: 10px;
  width: fit-content;
  font-weight: 100;
  position: absolute;
  vertical-align: middle;
  font-size: 17.5px;
  font-style: normal;
  background-color: rgba(0, 0, 0, .85);
  border-radius: 10px;
  color: rgba(230, 230, 230, 1);
  margin: 0px 10px;
  border-color: rgba(70, 70, 70, 1);
}
#backGROUND{
  background-image: linear-gradient(rgba(0, 20, 30, 0.6), rgba(0, 20, 30, 0.8)),
                  url("https://images.unsplash.com/photo-1532012197267-da84d127e765?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#scroll{
  height:auto+2rem;
}

#imgPost{
  text-align: center;
  width: 100%;
  height: 50vh;
  border-radius: 2rem;
  border-color: black;
  border: 5px solid black;
}
#photoPost{
  text-align: center;
}
#posts{
  height:max-content;
  font-weight:300;
  font-size:20px;
  list-style: none;
  padding: 3.4rem;
  padding-bottom: 1rem;
  transform: translate(501px);
}
#centerPost{
  text-align: left;
}
#postLogo{
  width:3rem;
  padding:0;
}
#postUser{
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  padding-top:0;
  padding-bottom:0rem;
}
#eventTitle{
  font-size: 5rem;
  text-decoration: none;
  color:#007896;
}
#eventDiv{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#descDiv{
  font-size: 2rem;
  padding-top: 2rem;
}
#postedBy{
  text-align: center;
  padding-top: 2rem;
}
#addOp{
  text-align: center;
  font-size: 2.4rem;
  margin-top: 2rem;
  color:white;
}
#shareOp{
  background-color: white;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:40vw;
  height:60vh;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  margin-top: 6rem;
  padding:4rem;
  color:#007896;
}
#topShare{
  font-size: 50px;
  padding-bottom:2rem;
}
#shareForm{
  text-align: left;
  font-weight: 400;
  font-size: 2.25rem;
  color: black;
  margin-top: 2rem;
}
#shareFormImg{
  text-align: center;
  border-radius: 50px;
  width:50%;
  height:30vh;
  margin-right: auto;
  float:right;
}
#shareOpSubmit{
  text-align: center;
  margin-top: 0rem;
}
#shareButton{
  background-color: transparent;
  color:#007896;
}

#shareDesc{
  position: relative;
  width:32rem;
  height:15rem;
  vertical-align: top;
  font-size:2rem;
  padding:.5rem;
}

#google{
  vertical-align: middle;
  padding-left: 10px;
}
#confirmEvent{
  background-color: #007896;
  padding:.6rem;
  width:14rem;
}
#confirmEvent:hover{
  background-color: #0b5669;
}
#centerr{
  text-align: center;
}
#scr{
  height:auto+2rem;
}

#H1{
  padding-top: 2%;
  right: -50%;
  color: #fff;
  text-align: center;
  font-size: 50px;
}

h1{
  padding-top: 2rem;
}

#Gar{
  margin: rem 0 1rem;
  background-color: #007896;
  width:5.9rem;
  float: right;
  right:150px;
  top:-70px;
}

#H2{
  padding-top: 1%;
  right: -50%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}


#scroll{
height:auto;
}

#P1{
  padding-top: 3%;
  right: -50%;
  color: black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#P2{
  margin: 15px 15px 50px 6px;
  text-align: center;
}

input[type="radio"]{
  /* background-color: rgba(0, 120, 150, 0.1); */
  position: relative;
  margin: 30;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1.5px solid currentColor;
  border-radius: 50%;
  
}

select{
  transform: translateX(15vw);
  text-align: center;
  margin: 15px 0 20px;
}

ul li{
  display: inline;
  margin: 30px 15px 15px 10px;
}

#gar{
  transform: translateX(15vw);
  list-style: none;
}

#gar1{
  transform: translateX(14.5vw);
  padding-bottom: 2rem;
}

#gargar{
  margin: 0px 15px 15px 22.5px;
}
#gar3{
  transform: translateX(0vw);
  list-style: none;
  display: grid;
  text-align: center;
}
#garGar{
  height:20vh;
}

.divvy{
  margin: 10px;
}
#yes{
  top:50%;
  left:25%;
}
#no{
  top:50%;
  right:25%;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  margin: 10px 10px 0 5px;
  vertical-align: middle;
}
#garGarGar{
  height:auto+2rem;
  text-align: left;
  transform: translateX(15vw);
  padding-bottom:3rem;
}

#garGarGarGar{
  margin-top: 15px;
}
#garGarGarGarGar{
  text-align: center;
}

#bg{
  background-color: #007896;
}